[Unit]
Description=AdGuard home container

[Container]
AddCapability=NET_RAW
AutoUpdate=registry
ContainerName=adguard
HostName=adguard
Image=docker.io/adguard/adguardhome:latest
IP=192.168.1.2
Network=home.network
PodmanArgs=--mac-address {{ adguard_mac }}
PublishPort=53:53/tcp
PublishPort=53:53/udp
PublishPort=67:67/udp
PublishPort=68:68/tcp
PublishPort=68:68/udp
PublishPort=80:80/tcp
PublishPort=443:443/tcp
PublishPort=443:443/udp
PublishPort=3000:3000/tcp
Volume=/var/lib/adguard:/opt/adguardhome/work:Z
Volume=/etc/adguard:/opt/adguardhome/conf:Z

[Service]
ExecStartPre=mkdir -p /etc/adguard
ExecStartPre=mkdir -p -m 700 /var/lib/adguard
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
